.cardContainer {
    width: 120px;
    height: 120px;
    background-color: transparent;
    border-radius: 4px;
    perspective: 1000px;
    cursor: pointer;

    .cardInner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.5s;
        transform-style: preserve-3d;

        &.cardFlip {
            transform: rotateY(180deg);
        }
    }

    .cardFront, .cardBack {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;

        img {
            width: 100%;
            height: 100%;
            border-radius: 2px;
        }
    }

    .cardBack {
        transform: rotateY(180deg);
    }
}
